body {
    background: url(images/knox-balcombe_8ball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.score, .result .win, .result .loss {
    background: #000;
    color: aliceblue;
    text-shadow: 0 0 5px #fff, /* White glow */
                 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #000000, /* Magenta glow */
                 0 20px 40px #000000,
                 0 30px 50px #ffffff,
                 0 30px 60px #ffffff;
}